In [2]:
from datetime import datetime

In [3]:
a=datetime.now()

In [4]:
a

datetime.datetime(2020, 1, 3, 9, 27, 48, 512901)

In [5]:
a.date()

datetime.date(2020, 1, 3)

In [7]:
a.year

2020

In [9]:
a.min

datetime.datetime(1, 1, 1, 0, 0)

In [21]:
from datetime import *
now=datetime.now()
print("date:{}-{}-{}".format(now.day,now.month,now.year))

date:3-1-2020

In [23]:
print("time:{}-{}-{}-{}".format(now.hour,now.minute,now.second,now.microsecond))

time:9-34-28-22521

In [28]:
td=datetime.today()
td
t=date.today()
print(t)

2020-01-03

In [45]:
t=datetime(2020,1,3)-datetime(1999,2,11,9,39,0)
print(t.days)
print(t.seconds)
print(t.total_seconds())

7630
51660
659283660.0

In [46]:
t

datetime.timedelta(days=7630, seconds=51660)

In [47]:
datetime(2020,1,3)

datetime.datetime(2020, 1, 3, 0, 0)

In [48]:
datetime(2020,1,3)+timedelta(200)

datetime.datetime(2020, 7, 21, 0, 0)

In [49]:
datetime(2020,1,3)-timedelta(100)

datetime.datetime(2019, 9, 25, 0, 0)

In [54]:
t="2020"
datetime.strftime(t,"%d %B %Y")

TypeError: descriptor 'strftime' requires a 'datetime.date' object but received a 'str'

In [57]:
t="3 January 2020"
datetime.strptime(t,"%d %B %Y")

datetime.datetime(2020, 1, 3, 0, 0)

In [66]:
t=datetime.today()
datetime.strftime(t,"%d %B %Y")

'03 January 2020'

In [67]:
t=datetime.today()
t

datetime.datetime(2020, 1, 3, 10, 3, 11, 499782)

In [68]:
a=[datetime(2020,2,3),datetime(2019,2,5),datetime(2018,7,8)]

In [69]:
b=[i.strftime("%d %b %Y") for i in a]

In [70]:
b

['03 Feb 2020', '05 Feb 2019', '08 Jul 2018']

In [71]:
b=[i.strftime("%d %b %y") for i in a]

In [72]:
b

['03 Feb 20', '05 Feb 19', '08 Jul 18']

In [74]:
import pandas as pd
import numpy as np
dates=[datetime(2020,2,3),datetime(2019,2,5),datetime(2018,7,8),datetime(2017,2,3),datetime(2016,2,5)]

In [80]:
a=pd.Series(np.random.rand(5),index=dates)
a

2020-02-03    0.620297
2019-02-05    0.646314
2018-07-08    0.221768
2017-02-03    0.883659
2016-02-05    0.961461
dtype: float64

In [82]:
a.index

DatetimeIndex(['2020-02-03', '2019-02-05', '2018-07-08', '2017-02-03',
               '2016-02-05'],
              dtype='datetime64[ns]', freq=None)

In [83]:
a.values

array([0.62029694, 0.64631402, 0.22176849, 0.88365911, 0.96146126])

In [84]:
a["2016"]

2016-02-05    0.961461
dtype: float64

In [85]:
a.index[2]

Timestamp('2018-07-08 00:00:00')

In [86]:
n=datetime.now()
timestamp=n.timestamp()
timestamp

1578027224.022117

In [100]:
a=pd.Series(np.random.rand(1000),index=pd.date_range(start="18/2/1999",periods=1000))
a

1999-02-18    0.587909
1999-02-19    0.228940
1999-02-20    0.836641
1999-02-21    0.790844
1999-02-22    0.688939
1999-02-23    0.947338
1999-02-24    0.471736
1999-02-25    0.187133
1999-02-26    0.823269
1999-02-27    0.934892
1999-02-28    0.490452
1999-03-01    0.804607
1999-03-02    0.113032
1999-03-03    0.515501
1999-03-04    0.288558
1999-03-05    0.433135
1999-03-06    0.977525
1999-03-07    0.331040
1999-03-08    0.798200
1999-03-09    0.878684
1999-03-10    0.936936
1999-03-11    0.281595
1999-03-12    0.488549
1999-03-13    0.539278
1999-03-14    0.639908
1999-03-15    0.639557
1999-03-16    0.707517
1999-03-17    0.281767
1999-03-18    0.870127
1999-03-19    0.192404
                ...
2001-10-15    0.195654
2001-10-16    0.189255
2001-10-17    0.059552
2001-10-18    0.446135
2001-10-19    0.987241
2001-10-20    0.899744
2001-10-21    0.326945
2001-10-22    0.573428
2001-10-23    0.132867
2001-10-24    0.055197
2001-10-25    0.496110
2001-10-26    0.261720
2001-10-27    0.596449
2001-10-28    0.959953
2001-10-29    0.143643
2001-10-30    0.025773
2001-10-31    0.824832
2001-11-01    0.507909
2001-11-02    0.763033
2001-11-03    0.049906
2001-11-04    0.489113
2001-11-05    0.329823
2001-11-06    0.415500
2001-11-07    0.869592
2001-11-08    0.138055
2001-11-09    0.217170
2001-11-10    0.821008
2001-11-11    0.839196
2001-11-12    0.998305
2001-11-13    0.456671
Freq: D, Length: 1000, dtype: float64

In [92]:
pd.date_range?

In [103]:
a['2001-11']

2001-11-01    0.507909
2001-11-02    0.763033
2001-11-03    0.049906
2001-11-04    0.489113
2001-11-05    0.329823
2001-11-06    0.415500
2001-11-07    0.869592
2001-11-08    0.138055
2001-11-09    0.217170
2001-11-10    0.821008
2001-11-11    0.839196
2001-11-12    0.998305
2001-11-13    0.456671
Freq: D, dtype: float64

In [105]:
a['2001-11-01':'2001-11-09']

2001-11-01    0.507909
2001-11-02    0.763033
2001-11-03    0.049906
2001-11-04    0.489113
2001-11-05    0.329823
2001-11-06    0.415500
2001-11-07    0.869592
2001-11-08    0.138055
2001-11-09    0.217170
Freq: D, dtype: float64

In [107]:
pd.date_range("03/02/2020","02/02/2021",freq="BM")

DatetimeIndex(['2020-03-31', '2020-04-30', '2020-05-29', '2020-06-30',
               '2020-07-31', '2020-08-31', '2020-09-30', '2020-10-30',
               '2020-11-30', '2020-12-31', '2021-01-29'],
              dtype='datetime64[ns]', freq='BM')

In [112]:
pd.date_range("03/01/2020","02/02/2021",freq="WOM-3sat")

DatetimeIndex(['2020-03-21', '2020-04-18', '2020-05-16', '2020-06-20',
               '2020-07-18', '2020-08-15', '2020-09-19', '2020-10-17',
               '2020-11-21', '2020-12-19', '2021-01-16'],
              dtype='datetime64[ns]', freq='WOM-3SAT')

In [115]:
pd.date_range("03/01/2020","02/02/2021",freq="Re")

ValueError: Invalid frequency: Re

In [123]:
dates=pd.date_range(start="18/2/1999",periods=100)

a=pd.DataFrame(np.random.rand(100,4),index=dates,columns=['India','China','USA','canda'])
a.head()

               India     China       USA     canda
1999-02-18  0.879427  0.753055  0.851018  0.707657
1999-02-19  0.967770  0.158161  0.167113  0.372474
1999-02-20  0.149213  0.173850  0.796525  0.128753
1999-02-21  0.398834  0.142683  0.123590  0.586915
1999-02-22  0.354885  0.530041  0.140886  0.229532

In [128]:
a.index.is_unique

True

In [132]:
a.loc["1999-02-18":]

               India     China       USA     canda
1999-02-18  0.879427  0.753055  0.851018  0.707657
1999-02-19  0.967770  0.158161  0.167113  0.372474
1999-02-20  0.149213  0.173850  0.796525  0.128753
1999-02-21  0.398834  0.142683  0.123590  0.586915
1999-02-22  0.354885  0.530041  0.140886  0.229532
1999-02-23  0.235653  0.826710  0.954999  0.013473
1999-02-24  0.935012  0.710439  0.797633  0.946945
1999-02-25  0.930611  0.147287  0.058757  0.748465
1999-02-26  0.976811  0.456481  0.482856  0.687369
1999-02-27  0.977778  0.529229  0.383184  0.944260
1999-02-28  0.348146  0.295141  0.006202  0.562161
1999-03-01  0.825642  0.869153  0.542474  0.620845
1999-03-02  0.520176  0.196141  0.756978  0.684970
1999-03-03  0.691360  0.787139  0.150631  0.273141
1999-03-04  0.668327  0.260469  0.688262  0.495003
1999-03-05  0.302913  0.458637  0.763101  0.869846
1999-03-06  0.152964  0.121449  0.474921  0.659812
1999-03-07  0.822007  0.985703  0.934383  0.014968
1999-03-08  0.964911  0.664926  0.375427  0.470494
1999-03-09  0.134470  0.138324  0.443816  0.502942
1999-03-10  0.415514  0.097603  0.595900  0.844820
1999-03-11  0.502403  0.447740  0.105848  0.979856
1999-03-12  0.741653  0.998385  0.801528  0.361804
1999-03-13  0.235450  0.037330  0.113234  0.670890
1999-03-14  0.267594  0.981723  0.509645  0.779275
1999-03-15  0.994027  0.929048  0.269371  0.544363
1999-03-16  0.840224  0.861299  0.883597  0.849710
1999-03-17  0.071741  0.917344  0.874396  0.485238
1999-03-18  0.219525  0.151017  0.899945  0.084780
1999-03-19  0.733466  0.587406  0.555257  0.155588
...              ...       ...       ...       ...
1999-04-29  0.937680  0.953033  0.770598  0.768076
1999-04-30  0.001980  0.529313  0.222399  0.262028
1999-05-01  0.026538  0.533519  0.604153  0.572245
1999-05-02  0.929133  0.458585  0.042322  0.502999
1999-05-03  0.271686  0.627654  0.416280  0.877317
1999-05-04  0.112491  0.946308  0.351801  0.973529
1999-05-05  0.213383  0.760551  0.222984  0.374924
1999-05-06  0.203252  0.458245  0.412288  0.498609
1999-05-07  0.026777  0.526111  0.742714  0.079991
1999-05-08  0.652718  0.118065  0.497216  0.795294
1999-05-09  0.503291  0.278325  0.361805  0.943434
1999-05-10  0.279473  0.967786  0.283560  0.497719
1999-05-11  0.505336  0.936122  0.717002  0.100377
1999-05-12  0.905607  0.531795  0.157020  0.820922
1999-05-13  0.479142  0.650561  0.910146  0.801945
1999-05-14  0.039020  0.294042  0.942920  0.914358
1999-05-15  0.739780  0.641142  0.039412  0.323862
1999-05-16  0.925283  0.811035  0.798725  0.809353
1999-05-17  0.951696  0.854991  0.509280  0.984614
1999-05-18  0.104422  0.490589  0.786484  0.125888
1999-05-19  0.776716  0.467906  0.360213  0.065473
1999-05-20  0.982485  0.600444  0.878384  0.093856
1999-05-21  0.009544  0.684203  0.771469  0.147992
1999-05-22  0.929023  0.873583  0.110828  0.271158
1999-05-23  0.147458  0.449104  0.929622  0.336976
1999-05-24  0.597454  0.044728  0.663327  0.462705
1999-05-25  0.840417  0.499127  0.912965  0.294966
1999-05-26  0.894246  0.372938  0.617493  0.898434
1999-05-27  0.859279  0.007287  0.759272  0.003519
1999-05-28  0.965932  0.544815  0.518837  0.320895

[100 rows x 4 columns]

In [130]:
a.iloc[0]

India    0.879427
China    0.753055
USA      0.851018
canda    0.707657
Name: 1999-02-18 00:00:00, dtype: float64

In [138]:
group=a.groupby(level=0)
group

In [136]:
a.groupby?

In [140]:
group.mean()

               India     China       USA     canda
1999-02-18  0.879427  0.753055  0.851018  0.707657
1999-02-19  0.967770  0.158161  0.167113  0.372474
1999-02-20  0.149213  0.173850  0.796525  0.128753
1999-02-21  0.398834  0.142683  0.123590  0.586915
1999-02-22  0.354885  0.530041  0.140886  0.229532
1999-02-23  0.235653  0.826710  0.954999  0.013473
1999-02-24  0.935012  0.710439  0.797633  0.946945
1999-02-25  0.930611  0.147287  0.058757  0.748465
1999-02-26  0.976811  0.456481  0.482856  0.687369
1999-02-27  0.977778  0.529229  0.383184  0.944260
1999-02-28  0.348146  0.295141  0.006202  0.562161
1999-03-01  0.825642  0.869153  0.542474  0.620845
1999-03-02  0.520176  0.196141  0.756978  0.684970
1999-03-03  0.691360  0.787139  0.150631  0.273141
1999-03-04  0.668327  0.260469  0.688262  0.495003
1999-03-05  0.302913  0.458637  0.763101  0.869846
1999-03-06  0.152964  0.121449  0.474921  0.659812
1999-03-07  0.822007  0.985703  0.934383  0.014968
1999-03-08  0.964911  0.664926  0.375427  0.470494
1999-03-09  0.134470  0.138324  0.443816  0.502942
1999-03-10  0.415514  0.097603  0.595900  0.844820
1999-03-11  0.502403  0.447740  0.105848  0.979856
1999-03-12  0.741653  0.998385  0.801528  0.361804
1999-03-13  0.235450  0.037330  0.113234  0.670890
1999-03-14  0.267594  0.981723  0.509645  0.779275
1999-03-15  0.994027  0.929048  0.269371  0.544363
1999-03-16  0.840224  0.861299  0.883597  0.849710
1999-03-17  0.071741  0.917344  0.874396  0.485238
1999-03-18  0.219525  0.151017  0.899945  0.084780
1999-03-19  0.733466  0.587406  0.555257  0.155588
...              ...       ...       ...       ...
1999-04-29  0.937680  0.953033  0.770598  0.768076
1999-04-30  0.001980  0.529313  0.222399  0.262028
1999-05-01  0.026538  0.533519  0.604153  0.572245
1999-05-02  0.929133  0.458585  0.042322  0.502999
1999-05-03  0.271686  0.627654  0.416280  0.877317
1999-05-04  0.112491  0.946308  0.351801  0.973529
1999-05-05  0.213383  0.760551  0.222984  0.374924
1999-05-06  0.203252  0.458245  0.412288  0.498609
1999-05-07  0.026777  0.526111  0.742714  0.079991
1999-05-08  0.652718  0.118065  0.497216  0.795294
1999-05-09  0.503291  0.278325  0.361805  0.943434
1999-05-10  0.279473  0.967786  0.283560  0.497719
1999-05-11  0.505336  0.936122  0.717002  0.100377
1999-05-12  0.905607  0.531795  0.157020  0.820922
1999-05-13  0.479142  0.650561  0.910146  0.801945
1999-05-14  0.039020  0.294042  0.942920  0.914358
1999-05-15  0.739780  0.641142  0.039412  0.323862
1999-05-16  0.925283  0.811035  0.798725  0.809353
1999-05-17  0.951696  0.854991  0.509280  0.984614
1999-05-18  0.104422  0.490589  0.786484  0.125888
1999-05-19  0.776716  0.467906  0.360213  0.065473
1999-05-20  0.982485  0.600444  0.878384  0.093856
1999-05-21  0.009544  0.684203  0.771469  0.147992
1999-05-22  0.929023  0.873583  0.110828  0.271158
1999-05-23  0.147458  0.449104  0.929622  0.336976
1999-05-24  0.597454  0.044728  0.663327  0.462705
1999-05-25  0.840417  0.499127  0.912965  0.294966
1999-05-26  0.894246  0.372938  0.617493  0.898434
1999-05-27  0.859279  0.007287  0.759272  0.003519
1999-05-28  0.965932  0.544815  0.518837  0.320895

[100 rows x 4 columns]

In [152]:
a['India'].count()

100

In [151]:
a['India'].unique().size

100

In [153]:
a.count()

India    100
China    100
USA      100
canda    100
dtype: int64

In [155]:
b=a.count()
b

India    100
China    100
USA      100
canda    100
dtype: int64

In [159]:
dates=pd.date_range(start="18/2/1999",periods=10,freq=pd.offsets.MonthEnd(3))
dates

DatetimeIndex(['1999-02-28', '1999-05-31', '1999-08-31', '1999-11-30',
               '2000-02-29', '2000-05-31', '2000-08-31', '2000-11-30',
               '2001-02-28', '2001-05-31'],
              dtype='datetime64[ns]', freq='3M')

In [162]:
dates=pd.date_range(start="18/2/1999",periods=10,freq=pd.offsets.MonthBegin(3))
dates

DatetimeIndex(['1999-03-01', '1999-06-01', '1999-09-01', '1999-12-01',
               '2000-03-01', '2000-06-01', '2000-09-01', '2000-12-01',
               '2001-03-01', '2001-06-01'],
              dtype='datetime64[ns]', freq='3MS')

In [164]:
dates=pd.date_range(start="18/2/1999",periods=10,freq='3MS')
dates

DatetimeIndex(['1999-03-01', '1999-06-01', '1999-09-01', '1999-12-01',
               '2000-03-01', '2000-06-01', '2000-09-01', '2000-12-01',
               '2001-03-01', '2001-06-01'],
              dtype='datetime64[ns]', freq='3MS')

In [166]:
from pandas.tseries.offsets import Hour,Minute

In [169]:
h=Hour(4)
h

In [170]:
m=Minute(30)
m

In [172]:
pd.date_range("2/3/2020",'3/4/2020 23:54',freq="4H")

DatetimeIndex(['2020-02-03 00:00:00', '2020-02-03 04:00:00',
               '2020-02-03 08:00:00', '2020-02-03 12:00:00',
               '2020-02-03 16:00:00', '2020-02-03 20:00:00',
               '2020-02-04 00:00:00', '2020-02-04 04:00:00',
               '2020-02-04 08:00:00', '2020-02-04 12:00:00',
               ...
               '2020-03-03 08:00:00', '2020-03-03 12:00:00',
               '2020-03-03 16:00:00', '2020-03-03 20:00:00',
               '2020-03-04 00:00:00', '2020-03-04 04:00:00',
               '2020-03-04 08:00:00', '2020-03-04 12:00:00',
               '2020-03-04 16:00:00', '2020-03-04 20:00:00'],
              dtype='datetime64[ns]', length=186, freq='4H')

In [178]:
pd.date_range("2/3/2020",'3/4/2020 23:54',freq="4H30MIN")

DatetimeIndex(['2020-02-03 00:00:00', '2020-02-03 04:30:00',
               '2020-02-03 09:00:00', '2020-02-03 13:30:00',
               '2020-02-03 18:00:00', '2020-02-03 22:30:00',
               '2020-02-04 03:00:00', '2020-02-04 07:30:00',
               '2020-02-04 12:00:00', '2020-02-04 16:30:00',
               ...
               '2020-03-03 06:00:00', '2020-03-03 10:30:00',
               '2020-03-03 15:00:00', '2020-03-03 19:30:00',
               '2020-03-04 00:00:00', '2020-03-04 04:30:00',
               '2020-03-04 09:00:00', '2020-03-04 13:30:00',
               '2020-03-04 18:00:00', '2020-03-04 22:30:00'],
              dtype='datetime64[ns]', length=166, freq='270T')

In [181]:
s=pd.date_range("2/3/2020",periods=10)
s

DatetimeIndex(['2020-02-03', '2020-02-04', '2020-02-05', '2020-02-06',
               '2020-02-07', '2020-02-08', '2020-02-09', '2020-02-10',
               '2020-02-11', '2020-02-12'],
              dtype='datetime64[ns]', freq='D')

In [182]:
for i in s:
    print(i.dayofweek,i.weekday_name)

0 Monday
1 Tuesday
2 Wednesday
3 Thursday
4 Friday
5 Saturday
6 Sunday
0 Monday
1 Tuesday
2 Wednesday

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: `weekday_name` is deprecated and will be removed in a future version. Use `day_name` instead

In [183]:
a=datetime.now()

In [184]:
a

datetime.datetime(2020, 1, 3, 13, 42, 30, 805116)

In [185]:
a=date.today()

In [186]:
a

datetime.date(2020, 1, 3)

In [187]:
a=pd.Series(np.random.rand(5),index=pd.date_range("2/2/2020",periods=5))

In [189]:
a.shift(2)

2020-02-02         NaN
2020-02-03         NaN
2020-02-04    0.797484
2020-02-05    0.540759
2020-02-06    0.183140
Freq: D, dtype: float64

In [190]:
a.shift(-2)

2020-02-02    0.183140
2020-02-03    0.963439
2020-02-04    0.431473
2020-02-05         NaN
2020-02-06         NaN
Freq: D, dtype: float64

In [194]:
a.shift(3,freq='M')

2020-04-30    0.797484
2020-04-30    0.540759
2020-04-30    0.183140
2020-04-30    0.963439
2020-04-30    0.431473
Freq: D, dtype: float64

In [193]:
a.shift(3,freq='D')

2020-02-05    0.797484
2020-02-06    0.540759
2020-02-07    0.183140
2020-02-08    0.963439
2020-02-09    0.431473
Freq: D, dtype: float64

In [198]:
a.shift(1,freq='30T')

2020-02-02 00:30:00    0.797484
2020-02-03 00:30:00    0.540759
2020-02-04 00:30:00    0.183140
2020-02-05 00:30:00    0.963439
2020-02-06 00:30:00    0.431473
Freq: D, dtype: float64

In [203]:
from pandas.tseries.offsets import Day,MonthEnd
now=datetime.now()
now+2*Day()

Timestamp('2020-01-05 13:54:09.395128')

In [204]:
now +Day()

Timestamp('2020-01-04 13:54:09.395128')

In [205]:
now+MonthEnd()

Timestamp('2020-01-31 13:54:09.395128')

In [206]:
now+MonthEnd(2)

Timestamp('2020-02-29 13:54:09.395128')

In [207]:
a=MonthEnd()
a.rollback(now)

Timestamp('2019-12-31 13:54:09.395128')

In [210]:
a=MonthEnd()
print(a)
a.rollforward(now)

<MonthEnd>

Timestamp('2020-01-31 13:54:09.395128')

In [213]:
import pytz #python time zone

In [214]:
pytz.common_timezones[:]

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Cairo',
 'Africa/Casablanca',
 'Africa/Ceuta',
 'Africa/Conakry',
 'Africa/Dakar',
 'Africa/Dar_es_Salaam',
 'Africa/Djibouti',
 'Africa/Douala',
 'Africa/El_Aaiun',
 'Africa/Freetown',
 'Africa/Gaborone',
 'Africa/Harare',
 'Africa/Johannesburg',
 'Africa/Juba',
 'Africa/Kampala',
 'Africa/Khartoum',
 'Africa/Kigali',
 'Africa/Kinshasa',
 'Africa/Lagos',
 'Africa/Libreville',
 'Africa/Lome',
 'Africa/Luanda',
 'Africa/Lubumbashi',
 'Africa/Lusaka',
 'Africa/Malabo',
 'Africa/Maputo',
 'Africa/Maseru',
 'Africa/Mbabane',
 'Africa/Mogadishu',
 'Africa/Monrovia',
 'Africa/Nairobi',
 'Africa/Ndjamena',
 'Africa/Niamey',
 'Africa/Nouakchott',
 'Africa/Ouagadougou',
 'Africa/Porto-Novo',
 'Africa/Sao_Tome',
 'Africa/Tripoli',
 'Africa/Tunis',
 'Africa/Windhoek',
 'America/Adak',
 'America/Anchorage',
 'America/Anguilla',
 'America/Antigua',
 'America/Araguaina',
 'America/Argentina/Buenos_Aires',
 'America/Argentina/Catamarca',
 'America/Argentina/Cordoba',
 'America/Argentina/Jujuy',
 'America/Argentina/La_Rioja',
 'America/Argentina/Mendoza',
 'America/Argentina/Rio_Gallegos',
 'America/Argentina/Salta',
 'America/Argentina/San_Juan',
 'America/Argentina/San_Luis',
 'America/Argentina/Tucuman',
 'America/Argentina/Ushuaia',
 'America/Aruba',
 'America/Asuncion',
 'America/Atikokan',
 'America/Bahia',
 'America/Bahia_Banderas',
 'America/Barbados',
 'America/Belem',
 'America/Belize',
 'America/Blanc-Sablon',
 'America/Boa_Vista',
 'America/Bogota',
 'America/Boise',
 'America/Cambridge_Bay',
 'America/Campo_Grande',
 'America/Cancun',
 'America/Caracas',
 'America/Cayenne',
 'America/Cayman',
 'America/Chicago',
 'America/Chihuahua',
 'America/Costa_Rica',
 'America/Creston',
 'America/Cuiaba',
 'America/Curacao',
 'America/Danmarkshavn',
 'America/Dawson',
 'America/Dawson_Creek',
 'America/Denver',
 'America/Detroit',
 'America/Dominica',
 'America/Edmonton',
 'America/Eirunepe',
 'America/El_Salvador',
 'America/Fort_Nelson',
 'America/Fortaleza',
 'America/Glace_Bay',
 'America/Godthab',
 'America/Goose_Bay',
 'America/Grand_Turk',
 'America/Grenada',
 'America/Guadeloupe',
 'America/Guatemala',
 'America/Guayaquil',
 'America/Guyana',
 'America/Halifax',
 'America/Havana',
 'America/Hermosillo',
 'America/Indiana/Indianapolis',
 'America/Indiana/Knox',
 'America/Indiana/Marengo',
 'America/Indiana/Petersburg',
 'America/Indiana/Tell_City',
 'America/Indiana/Vevay',
 'America/Indiana/Vincennes',
 'America/Indiana/Winamac',
 'America/Inuvik',
 'America/Iqaluit',
 'America/Jamaica',
 'America/Juneau',
 'America/Kentucky/Louisville',
 'America/Kentucky/Monticello',
 'America/Kralendijk',
 'America/La_Paz',
 'America/Lima',
 'America/Los_Angeles',
 'America/Lower_Princes',
 'America/Maceio',
 'America/Managua',
 'America/Manaus',
 'America/Marigot',
 'America/Martinique',
 'America/Matamoros',
 'America/Mazatlan',
 'America/Menominee',
 'America/Merida',
 'America/Metlakatla',
 'America/Mexico_City',
 'America/Miquelon',
 'America/Moncton',
 'America/Monterrey',
 'America/Montevideo',
 'America/Montserrat',
 'America/Nassau',
 'America/New_York',
 'America/Nipigon',
 'America/Nome',
 'America/Noronha',
 'America/North_Dakota/Beulah',
 'America/North_Dakota/Center',
 'America/North_Dakota/New_Salem',
 'America/Ojinaga',
 'America/Panama',
 'America/Pangnirtung',
 'America/Paramaribo',
 'America/Phoenix',
 'America/Port-au-Prince',
 'America/Port_of_Spain',
 'America/Porto_Velho',
 'America/Puerto_Rico',
 'America/Punta_Arenas',
 'America/Rainy_River',
 'America/Rankin_Inlet',
 'America/Recife',
 'America/Regina',
 'America/Resolute',
 'America/Rio_Branco',
 'America/Santarem',
 'America/Santiago',
 'America/Santo_Domingo',
 'America/Sao_Paulo',
 'America/Scoresbysund',
 'America/Sitka',
 'America/St_Barthelemy',
 'America/St_Johns',
 'America/St_Kitts',
 'America/St_Lucia',
 'America/St_Thomas',
 'America/St_Vincent',
 'America/Swift_Current',
 'America/Tegucigalpa',
 'America/Thule',
 'America/Thunder_Bay',
 'America/Tijuana',
 'America/Toronto',
 'America/Tortola',
 'America/Vancouver',
 'America/Whitehorse',
 'America/Winnipeg',
 'America/Yakutat',
 'America/Yellowknife',
 'Antarctica/Casey',
 'Antarctica/Davis',
 'Antarctica/DumontDUrville',
 'Antarctica/Macquarie',
 'Antarctica/Mawson',
 'Antarctica/McMurdo',
 'Antarctica/Palmer',
 'Antarctica/Rothera',
 'Antarctica/Syowa',
 'Antarctica/Troll',
 'Antarctica/Vostok',
 'Arctic/Longyearbyen',
 'Asia/Aden',
 'Asia/Almaty',
 'Asia/Amman',
 'Asia/Anadyr',
 'Asia/Aqtau',
 'Asia/Aqtobe',
 'Asia/Ashgabat',
 'Asia/Atyrau',
 'Asia/Baghdad',
 'Asia/Bahrain',
 'Asia/Baku',
 'Asia/Bangkok',
 'Asia/Barnaul',
 'Asia/Beirut',
 'Asia/Bishkek',
 'Asia/Brunei',
 'Asia/Chita',
 'Asia/Choibalsan',
 'Asia/Colombo',
 'Asia/Damascus',
 'Asia/Dhaka',
 'Asia/Dili',
 'Asia/Dubai',
 'Asia/Dushanbe',
 'Asia/Famagusta',
 'Asia/Gaza',
 'Asia/Hebron',
 'Asia/Ho_Chi_Minh',
 'Asia/Hong_Kong',
 'Asia/Hovd',
 'Asia/Irkutsk',
 'Asia/Jakarta',
 'Asia/Jayapura',
 'Asia/Jerusalem',
 'Asia/Kabul',
 'Asia/Kamchatka',
 'Asia/Karachi',
 'Asia/Kathmandu',
 'Asia/Khandyga',
 'Asia/Kolkata',
 'Asia/Krasnoyarsk',
 'Asia/Kuala_Lumpur',
 'Asia/Kuching',
 'Asia/Kuwait',
 'Asia/Macau',
 'Asia/Magadan',
 'Asia/Makassar',
 'Asia/Manila',
 'Asia/Muscat',
 'Asia/Nicosia',
 'Asia/Novokuznetsk',
 'Asia/Novosibirsk',
 'Asia/Omsk',
 'Asia/Oral',
 'Asia/Phnom_Penh',
 'Asia/Pontianak',
 'Asia/Pyongyang',
 'Asia/Qatar',
 'Asia/Qostanay',
 'Asia/Qyzylorda',
 'Asia/Riyadh',
 'Asia/Sakhalin',
 'Asia/Samarkand',
 'Asia/Seoul',
 'Asia/Shanghai',
 'Asia/Singapore',
 'Asia/Srednekolymsk',
 'Asia/Taipei',
 'Asia/Tashkent',
 'Asia/Tbilisi',
 'Asia/Tehran',
 'Asia/Thimphu',
 'Asia/Tokyo',
 'Asia/Tomsk',
 'Asia/Ulaanbaatar',
 'Asia/Urumqi',
 'Asia/Ust-Nera',
 'Asia/Vientiane',
 'Asia/Vladivostok',
 'Asia/Yakutsk',
 'Asia/Yangon',
 'Asia/Yekaterinburg',
 'Asia/Yerevan',
 'Atlantic/Azores',
 'Atlantic/Bermuda',
 'Atlantic/Canary',
 'Atlantic/Cape_Verde',
 'Atlantic/Faroe',
 'Atlantic/Madeira',
 'Atlantic/Reykjavik',
 'Atlantic/South_Georgia',
 'Atlantic/St_Helena',
 'Atlantic/Stanley',
 'Australia/Adelaide',
 'Australia/Brisbane',
 'Australia/Broken_Hill',
 'Australia/Currie',
 'Australia/Darwin',
 'Australia/Eucla',
 'Australia/Hobart',
 'Australia/Lindeman',
 'Australia/Lord_Howe',
 'Australia/Melbourne',
 'Australia/Perth',
 'Australia/Sydney',
 'Canada/Atlantic',
 'Canada/Central',
 'Canada/Eastern',
 'Canada/Mountain',
 'Canada/Newfoundland',
 'Canada/Pacific',
 'Europe/Amsterdam',
 'Europe/Andorra',
 'Europe/Astrakhan',
 'Europe/Athens',
 'Europe/Belgrade',
 'Europe/Berlin',
 'Europe/Bratislava',
 'Europe/Brussels',
 'Europe/Bucharest',
 'Europe/Budapest',
 'Europe/Busingen',
 'Europe/Chisinau',
 'Europe/Copenhagen',
 'Europe/Dublin',
 'Europe/Gibraltar',
 'Europe/Guernsey',
 'Europe/Helsinki',
 'Europe/Isle_of_Man',
 'Europe/Istanbul',
 'Europe/Jersey',
 'Europe/Kaliningrad',
 'Europe/Kiev',
 'Europe/Kirov',
 'Europe/Lisbon',
 'Europe/Ljubljana',
 'Europe/London',
 'Europe/Luxembourg',
 'Europe/Madrid',
 'Europe/Malta',
 'Europe/Mariehamn',
 'Europe/Minsk',
 'Europe/Monaco',
 'Europe/Moscow',
 'Europe/Oslo',
 'Europe/Paris',
 'Europe/Podgorica',
 'Europe/Prague',
 'Europe/Riga',
 'Europe/Rome',
 'Europe/Samara',
 'Europe/San_Marino',
 'Europe/Sarajevo',
 'Europe/Saratov',
 'Europe/Simferopol',
 'Europe/Skopje',
 'Europe/Sofia',
 'Europe/Stockholm',
 'Europe/Tallinn',
 'Europe/Tirane',
 'Europe/Ulyanovsk',
 'Europe/Uzhgorod',
 'Europe/Vaduz',
 'Europe/Vatican',
 'Europe/Vienna',
 'Europe/Vilnius',
 'Europe/Volgograd',
 'Europe/Warsaw',
 'Europe/Zagreb',
 'Europe/Zaporozhye',
 'Europe/Zurich',
 'GMT',
 'Indian/Antananarivo',
 'Indian/Chagos',
 'Indian/Christmas',
 'Indian/Cocos',
 'Indian/Comoro',
 'Indian/Kerguelen',
 'Indian/Mahe',
 'Indian/Maldives',
 'Indian/Mauritius',
 'Indian/Mayotte',
 'Indian/Reunion',
 'Pacific/Apia',
 'Pacific/Auckland',
 'Pacific/Bougainville',
 'Pacific/Chatham',
 'Pacific/Chuuk',
 'Pacific/Easter',
 'Pacific/Efate',
 'Pacific/Enderbury',
 'Pacific/Fakaofo',
 'Pacific/Fiji',
 'Pacific/Funafuti',
 'Pacific/Galapagos',
 'Pacific/Gambier',
 'Pacific/Guadalcanal',
 'Pacific/Guam',
 'Pacific/Honolulu',
 'Pacific/Kiritimati',
 'Pacific/Kosrae',
 'Pacific/Kwajalein',
 'Pacific/Majuro',
 'Pacific/Marquesas',
 'Pacific/Midway',
 'Pacific/Nauru',
 'Pacific/Niue',
 'Pacific/Norfolk',
 'Pacific/Noumea',
 'Pacific/Pago_Pago',
 'Pacific/Palau',
 'Pacific/Pitcairn',
 'Pacific/Pohnpei',
 'Pacific/Port_Moresby',
 'Pacific/Rarotonga',
 'Pacific/Saipan',
 'Pacific/Tahiti',
 'Pacific/Tarawa',
 'Pacific/Tongatapu',
 'Pacific/Wake',
 'Pacific/Wallis',
 'US/Alaska',
 'US/Arizona',
 'US/Central',
 'US/Eastern',
 'US/Hawaii',
 'US/Mountain',
 'US/Pacific',
 'UTC']

In [216]:
t=pytz.timezone('Asia/Kolkata')
t

In [221]:
dates=pd.date_range(start="18/2/1999",periods=10,freq='M',tz='Asia/Kolkata')

In [222]:
dates

DatetimeIndex(['1999-02-28 00:00:00+05:30', '1999-03-31 00:00:00+05:30',
               '1999-04-30 00:00:00+05:30', '1999-05-31 00:00:00+05:30',
               '1999-06-30 00:00:00+05:30', '1999-07-31 00:00:00+05:30',
               '1999-08-31 00:00:00+05:30', '1999-09-30 00:00:00+05:30',
               '1999-10-31 00:00:00+05:30', '1999-11-30 00:00:00+05:30'],
              dtype='datetime64[ns, Asia/Kolkata]', freq='M')

In [227]:
t=pd.Timestamp("2020/2/2 4:00",tz="Asia/Kolkata")
t

Timestamp('2020-02-02 04:00:00+0530', tz='Asia/Kolkata')