### CREATING SERIES IN PANDAS

In [1]:
import pandas as pd

In [2]:
animals=['tiger','bear','moose']
s=pd.Series(animals)

In [3]:
s

0    tiger
1     bear
2    moose
dtype: object

In [4]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [6]:
s.name='Animals'

In [8]:
s.name

'Animals'

In [9]:
s

0    tiger
1     bear
2    moose
Name: Animals, dtype: object

In [10]:
numbers=[1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [11]:
animals=['tiger','bear',None]
s=pd.Series(animals)

In [12]:
s

0    tiger
1     bear
2     None
dtype: object

In [14]:
numbers=[1,2,None]
pd.Series(numbers)##NaN------->Not a Number

0    1.0
1    2.0
2    NaN
dtype: float64

In [15]:
a=2
b=2
a==b

True

## NUMPY

In [16]:
import numpy as np

In [20]:
np.NaN== None

False

In [21]:
np.nan==np.nan

False

In [22]:
np.nan is np.nan

True

In [23]:
np.isnan(np.nan)scotland

True

In [24]:
sports={'Archery':'Bhutan','Golf':'scotland','sumo':'Japan','Taekwondo':'South korea'}

In [25]:
s=pd.Series(sports)

In [26]:
s

Archery           Bhutan
Golf            scotland
sumo               Japan
Taekwondo    South korea
dtype: object

In [27]:
s.index

Index(['Archery', 'Golf', 'sumo', 'Taekwondo'], dtype='object')

In [31]:
s=pd.Series(['Tiger','Bear','Moose'],index=['India','America','canada'])
s

India      Tiger
America     Bear
canada     Moose
dtype: object

In [34]:
sports={'Archery':'Bhutan','Golf':'scotland','sumo':'Japan','Taekwondo':'South korea'}
s=pd.Series(sports,index=['Golf','sumo','Hockey','Bhutan'])

In [35]:
s

Golf      scotland
sumo         Japan
Hockey         NaN
Bhutan         NaN
dtype: object

In [36]:
s=pd.Series(sports)

In [37]:
s

Archery           Bhutan
Golf            scotland
sumo               Japan
Taekwondo    South korea
dtype: object

In [39]:
s.iloc[3]

'South korea'

In [40]:
s[3]

'South korea'

In [41]:
s.loc['sumo']

'Japan'

In [42]:
sports={99:'Bhutan',100:'scotland',101:'Japan',102:'South korea'}

In [44]:
s=pd.Series(sports)

In [45]:
s

99          Bhutan
100       scotland
101          Japan
102    South korea
dtype: object

In [46]:
s.iloc[3]

'South korea'

In [48]:
s.loc[99]

'Bhutan'

In [50]:
for each in s:
    print(each)

Bhutan
scotland
Japan
South korea

In [51]:
s=pd.Series([100.00,200.00,300.00])

### Sum of given numbers using SUM() in numpy:

In [54]:
import numpy as np

In [55]:
total=sum(s)
print(total)

600.0

In [56]:
np.random.randint(0,1000,10000)

array([478, 851, 218, ..., 519, 839, 611])

In [57]:
s=pd.Series(np.random.randint(0,1000,10000))
s.head()

0    133
1    877
2    154
3    282
4    546
dtype: int32

In [62]:
%%timeit -n 100

summary=0
for item in s:
    summary+=item## Magical function in jupiter notebook

1.37 ms ± 97.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [63]:
%%timeit -n 5
summary=np.sum(s)

The slowest run took 4.13 times longer than the fastest. This could mean that an intermediate result is being cached.
254 µs ± 149 µs per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [64]:
s.head()

0    133
1    877
2    154
3    282
4    546
dtype: int32

In [65]:
s+=2

In [67]:
s.head()##adds two to each item in s using broadcasting

0    135
1    879
2    156
3    284
4    548
dtype: int32

In [69]:
for label,value in s.iteritems():
    s.set_value(label,value+2)
s.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

0    139
1    883
2    160
3    288
4    552
dtype: int32

In [70]:
s.set_value(0,300)
s.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

0    300
1    883
2    160
3    288
4    552
dtype: int32

In [71]:
%%timeit -n 1
s=pd.Series(np.random.randint(0,1000,10000))
s+=2

773 µs ± 144 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [72]:
%%timeit -n 1
s=pd.Series(np.random.randint(0,1000,10000))
for label,value in s.iteritems():
    s.loc[label]=value+2

4.43 s ± 272 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)