### ADVANCED PANDAS

In [ ]:
import pandas as pd
staff_df=pd.DataFrame([{'Name':'Ram','Role':'Director of HR','Adress':'Tanuku'},{'Name':'Lakshmi','Role':'Course liasion','Adress':'Narsapuram'},{'Name':'James','Role':'Grader','Adress':'Vijayawada'}])
staff_df=staff_df.set_index('Name')
student_df=pd.DataFrame([{'Name':'James','School':'Business','Adress':''},{'Name':'Mike','School':'Law'},{'Name':'Lakshmi','School':'Engineering'}])
student_df=student_df.set_index('Name')
student_df.head()

## Merge()

In [ ]:
pd.merge(staff_df,student_df,how='outer',left_index=True,right_index=True)

In [ ]:
pd.merge(staff_df,student_df,how='inner',left_index=True,right_index=True)

In [ ]:
pd.merge(staff_df,student_df,how='outer',right_index=True,left_index=True)

In [ ]:
pd.merge(staff_df,student_df,how='outer',left_index=True,right_index=True)

In [ ]:
staff_df=staff_df.reset_index()
student_df=student_df.reset_index()
pd.merge(staff_df,student_df,how='left',left_on='Name',right_on='Name')

In [3]:
import pandas as pd
df=pd.read_csv('census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [4]:
import numpy as pd
def min_max(row):
    data=row[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']]
    return pd.Series({'min':np.min(data),'max':np.max(data)})

In [5]:
df[['min','max']]=df.apply(min_max,axis=1)
df.head()

AttributeError: ("module 'numpy' has no attribute 'Series'", 'occurred at index 0')