python
*python
*python*
**python
***python
***python***
* python
    * python

<img src="9e1b3192c8c278e5b428c030cd419a26.jpg">

In [12]:
print("hiii",end=" ")
print("hello")

hiii hello

In [13]:
a=123

In [16]:
type(a)
    
    str('a')

IndentationError: unexpected indent (<ipython-input-16-f41a3cb7ae05>, line 3)

In [18]:
str(a)

'123'

In [20]:
a=int(input("enter the lower limit"))
b=int(input("enter the upper limit"))
for i in range(a,b+1):
    print(i)

enter the lower limit1
enter the upper limit10
1
2
3
4
5
6
7
8
9
10

### arithemetic operators

In [22]:
2+3

5

In [23]:
a=2
b=3
a+b

5

In [24]:
10//3

3

In [25]:
2 **3

8

In [26]:
2 ** 5

32

In [27]:
pow(2,5)

32

### Relational operators

In [28]:
2<3

True

In [29]:
2==3

False

In [30]:
2 != 3

True

In [31]:
a=b=c=10

In [32]:
a

10

In [33]:
b

10

In [34]:
a,b,c =1,2,3

In [35]:
b

2

In [36]:
c

3

In [37]:
a,b,c

(1, 2, 3)

In [38]:
a,b=1,2,3

ValueError: too many values to unpack (expected 2)

In [39]:
a=1,2,3

In [40]:
a

(1, 2, 3)

In [41]:
type(a)

tuple

In [42]:
a=a+1

TypeError: can only concatenate tuple (not "int") to tuple

In [44]:
a = a + 1
a

TypeError: can only concatenate tuple (not "int") to tuple

###

In [45]:
a=3

In [48]:
a = a + 1
a

6

In [49]:
bool(3)

True

In [50]:
0 or 0

0

In [51]:
0 and 0

0

In [52]:
2+3*4

14

In [53]:
7 & 4

4

In [54]:
bin(4)

'0b100'

In [55]:
bin(8)

'0b1000'

In [56]:
int(100)

100

In [57]:
int(0b100)

4

In [58]:
8 << 1

16

In [59]:
8 << 2

32

In [60]:
3 << 3

24

In [61]:
3 << 1

6

In [62]:
3 << 2

12

### Membership operators

In [63]:
'ap' in siri

NameError: name 'siri' is not defined

In [64]:
'ap' in 'siri'

False

In [65]:
'ap' in 'apps'

True

In [66]:
'ap' not in 'siri'

True

In [67]:
1 in (5,5,7)

False

In [68]:
1 not in (5,6,7)

True

In [69]:
3 >> 1

1

In [70]:
3 >> 3

0

In [71]:
27 >> 1

13

In [72]:
26 >> 1

13

In [73]:
13 >> 2

3

In [74]:
26 >> 2

6

### conditional statements

### IF

In [75]:
num=12

In [79]:
num=13
if num>=0:
    print("positive")

positive

In [85]:
num=-1
if num==0:
    print("zero")
elif num>0:
        print("positive")
else:
            print("negative")

negative

In [89]:
year=int(input("enter year"))
if year%400==0 or (year%4==0 and year%100!=0):
    print("leap year")
else:
    print("non leap year")

enter year2000
leap year

In [93]:
num=int(input("enter num"))
if 1000%num==0:
    print(num,"facor of 1000")
else:
    print(num,"not a factor")

enter num500
500 facor of 1000

num=1234
a=1234
len(str(a))

## greatest of four

In [107]:
a,b,c,d=200,536,145,221
if a>b and a>c and a>d:
    print("a is big")
elif c>b and c>d and c>a:
    print("c is big")
elif d>a and d>b and d>c:
    print("d is big")
else:
    print("b is big")

b is big

## marks

In [116]:
a=int(input("enter marks"))
if a>=76:
    print("distinction and first class")
elif a>=51:
    print("second class")
elif a>=35:
    print("pass")
else:
    print("fail")

enter marks98
distinction and first class

### 3cases

In [146]:
a=int(input("enter a"))
b=int(input("enter b"))
c=int(input("enter c"))
if a==b==c:
    print(a)
elif a!=b!=c:
    print(a+b+c)
elif a==b:
    print(c)
elif c==a:
    print(b)
else:
    print(a)

enter a1
enter b2
enter c2
1

In [ ]:
*python

### LOOPS

In [150]:
for i in range(5):
    print(i,end='\t')

0	1	2	3	4

In [151]:
for i in 1,2,3,4:
    print(i)

1
2
3
4

In [155]:
for i in range(1,6,2):
    print(i)

1
3
5

In [160]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [3]:
for i in range(10,2,-1):
    print(i)

10
9
8
7
6
5
4
3

In [6]:
s="sireesha"
for char in s:
    print(s)

sireesha
sireesha
sireesha
sireesha
sireesha
sireesha
sireesha
sireesha

In [9]:
s="siri"
for i in range(len(s)-1):
    print(s[i])

s
i
r

In [12]:
s="siri"
for i in range(len(s)-1,-1,-1):
    print(s[i],end='')

iris

In [18]:
for i in range(65,91):
    print(chr(i),end='')

ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [4]:
for i in range(65,91):
    if chr(i)=='S':
        continue
    print(chr(i),end='')

ABCDEFGHIJKLMNOPQRTUVWXYZ

In [5]:
for i in range(65,91):
    if chr(i)=='S':
        break
    print(chr(i),end='')

ABCDEFGHIJKLMNOPQR

### while

In [6]:
i=1
while(i<=5):
    print(i)
    i=i+1

1
2
3
4
5

In [5]:
i=1
while(i<=10):
    print(2,"*",i,"=",2*i)
    i=i+1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

### factorial of a number:

In [11]:
fact=1
num=int(input("enter a number"))
for i in range(1,num+1):
    fact=fact*i
print(fact)

enter a number4
24