### List comprehension:

### Syntax:
### [item loop conditin]

In [4]:
[1 for EACH in range(10)]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [6]:
[each for each in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
[each*each for each in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
[each for each in range(1,11)if each%2==0]

[2, 4, 6, 8, 10]

In [23]:
students=[['sai',70],['ram',30],['lakshmi',60]]
[i for i in students if i[1]>60]

[['sai', 70]]

## nested for loop

In [26]:
[each+item for each in range(3) for item in range(3)]

SyntaxError: invalid syntax (<ipython-input-26-0e7af18a0179>, line 1)

In [36]:
[(a,b,c) for a in range(1,31) for b in range(a,31) for c in range(b,31) if ((a**2+b**2)==c**2)]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (18, 24, 30),
 (20, 21, 29)]

### create two digit roll number with numbers 0 to 9

In [50]:
[str(a)+str(b) for a in range(10) for b in range(10) ]

['00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99']

### Dictionary comprehension:

In [52]:
{ i:i*i for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [53]:
{ i:i*i for i in range(1,11) if i%2==0}

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [55]:
{ i:i*i if i%2==0 else i*i*i for i in range(1,11)}

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [70]:
names=['sai','ramu']
grades=['A','B']
student={}
for index in range(len(names)):
    name=names[index]
    grade=grades[index]
    student[name]=grade
print(student)

{'sai': 'A', 'ramu': 'B'}

In [76]:
names=['sai','ramu']
grades=['A','B']
{name:grade for name,grade in zip(names,grades)}

{'sai': 'A', 'ramu': 'B'}

### using anonymous function(lambda):

In [77]:
add =lambda X:'hi'##definition

In [78]:
square = lambda X:X*X

In [79]:
square(3)

9

In [80]:
fun = lambda X:X[0]

In [81]:
a='siri'

In [82]:
fun(a)

's'

In [83]:
fun =lambda x,y:(x,y)
fun(10,20)

(10, 20)

### map(function,collection)

In [93]:
numbers=['10','20','30']
s=map(int,numbers)
list(s)

[10, 20, 30]

In [95]:
numbers=['10','20','30']
list(map(lambda X:int(X)+30,numbers))

[40, 50, 60]

### all()

In [102]:
marks=[40,30,0,20,100]
all(marks)

False

### bool()

In [103]:
bool(10)

True

### any()

In [104]:
any(marks)

True

### filter(function,collection)

In [105]:
s=filter(None,marks)

In [106]:
list(s)

[40, 30, 20, 100]

In [109]:
list(filter(lambda X:X[1]<=30,students))

[['ram', 30]]