# 27 aug 2019
## factorial

In [3]:
a=int(input("enter the number"))
fact=1
for i in range(1,a+1):
    fact=fact*i
print(fact)

enter the number5
120

## program to print prime numbers in given range

In [4]:
n=int(input("enter the value"))
for i in range(1,n):
    count=0
    for j in range(1,i+1):
        if(i%j==0):
            count+=1
    if(count==2):
            print(i)

enter the value50
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

## calculate square root of a number

In [5]:
import math
a=int(input("enter the number"))
print(math.sqrt(a))

enter the number4
2.0

In [6]:
a=int(input("enter the number"))
b=pow(a,0.5)
print(b)

enter the number4
2.0

## average of number

In [ ]:
s=input()
s=s.split(",")
sum=0
for i in s:
    sum=sum+int(i)
   
avg=sum//len(s)   =,
print(avg)

## palindrome

In [7]:
s=input()
if(s==s[::-1]):
    print("palindrome")
else:
    print("not palindrome")

MOM
palindrome

## count divisors
### you have been given 3 integers -l,r,k.find how many numbers between l and r are divisible by k

In [8]:
l=int(input("enter the value"))
r=int(input("enter the value"))
k=int(input("enter the value"))
count=0
for i in range(l,r+1):
    if(i%k==0):
        count+=1
  
print(count)

enter the value2
enter the value10
enter the value2
5

## ISBN

In [ ]:
a=input()
sum=0
c=1
for i in a:
    sum=sum+int(i)*c
    c+=1
if(sum%11==0):
    print("valid")
else:
    print("not valid")

## Toggle string
### given string consits of uppercase and lowercase letters.you need to change the case of each letter in the string

In [ ]:
s="Welcome To Swarnandhra coLLEGE OF engINEERING anD TECHnoLOGY"
s=s.swapcase()
s

## two strings:
### two strings of equal length.check whether strings are identical or not

In [3]:
a=input("enter the string")
b=input("enter the string")
for i in a:
    if j not in b:
        flag=1
        print("identical")
    else:
        print("not identical")
else:
    print("not identical")

enter the stringabc
enter the stringcba

NameError: name 'j' is not defined

## string="problem sloving using python"find length

In [2]:
s="problem sloving using python"
s=len(s)
s

28

## lowercase

In [1]:
s=input()
a=s.lower()
a

KEERTHI

'keerthi'

## REVERSE

In [ ]:
s="keerthi surekha"
s=s[::-1]
s

## E-maze in:x and y axises need to take i/p as LLRDDR(strings)

In [9]:
a=input("enter string")
x=0
y=0
for i in a:
    if(i=='R'):
        x+=1
    if(i=='L'):
        x-=1
    if(i=='U'):
        y+=1
    if(i=='D'):
        y-=1
    print('x=',x,'y=',y)

enter stringLLRDDR
x= -1 y= 0
x= -2 y= 0
x= -1 y= 0
x= -1 y= -1
x= -1 y= -2
x= 0 y= -2

## char sum:here the first character has a weight of 1,b has 2 and c has 3.find aba=1+2+1=4

In [13]:
s=input("enter the string")
s1=0
for i in s:
    s1+=ord(i)-ord('a')+1
print(s1)

enter the stringaba
4

# 28-08-2019

## i/p:2 + 3 o/p:5   -,*,/

In [11]:
a=input("enter the string")
a=a.split(' ')
if(a[1]=='+'):
    b=int(a[0])+int(a[2])
if(a[1]=='-'):
    b=int(a[0])-int(a[2])
if(a[1]=='*'):
    b=int(a[0])*int(a[2])
if(a[1]=='/'):
    b=int(a[0])/int(a[2])
print(b)

enter the string2 + 3
5

### profile pic

In [15]:
l=180
a=input().split()
if(len(a[0]==len(a[1])==3)):
    if h<l or w <l:
        print("upload another")
    elif h>l or w >l:
        print("crop it")
    else:
    print("accepted")
else:
    print("length not match")

IndentationError: expected an indented block (<ipython-input-15-7833e0e66442>, line 9)

### To print sum of prime numbers from 10 to 30 using functions inclusive:

In [34]:
def isPrime(n):
    for i in range(10,n):
        if n%i==0:
            return False
    return True

In [36]:
total=0
for i in range(10,31):
    if isPrime(i):
        total=total+i
print(total)

112

### Lists in python
          List is a collection of items which can store any type of values/items.

In [37]:
a=list()
b=[]

In [40]:
type(a),type(b)

(list, list)

### sum:

In [41]:
number=[1,2,3,4]

In [43]:
total=0
for i in number:
    total+=i
print(total)

10

In [44]:
list=['siri',10,'sirii',20,30]

In [46]:
sum=0
for i in list:
    if i==i.isNumeric():
        sum=sum+i
print(sum)

AttributeError: 'str' object has no attribute 'isNumeric'

### 3 sep 2019

In [1]:
data="sairam 123 lakshmi"

### sum of digits

In [39]:
def sumOfDigit(data_string):
    tot=0
    for i in data:
    
        if i.isdigit():
        
            tot=tot+int(i)
    return tot

### no.of characters:

In [19]:
count=0
for i in data:
    if i.isalpha():
        count=count+1
print(count)

13

### no.of digits:

In [20]:
count=0
for i in data:
    if i.isdigit():
        count=count+1
print(count)

3

### average of digits():

In [22]:
tot=0
c=0
data="sairam 123 lakshmi"
for i in data:
    
    if i.isdigit():
        c=c+1
        tot=tot+int(i)
print(tot/c)

2.0

### lucky number (ex:1234=1+2+3+4=10=1+0=1)

In [41]:
data='1234'
while True:
    result=str(sumOfDigit(data))
    
    if len(result)>1:
        data=result
    else:
        break
print(result)

1

In [25]:
data

'1234'

### Dictionary:
### it is the collection of items with key-value pair

In [42]:
dict()
{}
## two ways to define dictionaries

{}

In [43]:
english={'name':'sai','mobile':'9989256943'}

In [48]:
english['name']

'sai'

In [49]:
english['name']=['siri']

In [50]:
english

{'name': ['siri'], 'mobile': '9989256943'}

In [53]:
english['gender']=['female']

In [54]:
english

{'name': ['siri'], 'mobile': '9989256943', 'gender': ['female']}

In [56]:
for key in english:
    print(english[key])

['siri']
9989256943
['female']

### copy()
### from keys()

In [58]:
keys=['name','gender','mobile']
{}.fromkeys(keys)

{'name': None, 'gender': None, 'mobile': None}

### Get keys()

In [66]:
person={'name':'siri','gender':'female','isStudent':True}
person.get('name')

'siri'

In [70]:
print(person.get('name1','key not available'))

key not available

In [71]:
person

{'name': 'siri', 'gender': 'female', 'isStudent': True}

In [79]:
person.setdefault('name1','sireesha')

'default'

In [80]:
person

{'name': 'siri', 'gender': 'female', 'isStudent': True, 'name1': 'default'}

In [81]:
dir(person)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

### Items()

In [83]:
person.items()

dict_items([('name', 'siri'), ('gender', 'female'), ('isStudent', True), ('name1', 'default')])

### Keys()

In [84]:
person.keys()

dict_keys(['name', 'gender', 'isStudent', 'name1'])

### POP(key)

In [86]:
person.pop('name1')

'default'

In [87]:
person

{'name': 'siri', 'gender': 'female', 'isStudent': True}

### POP(item)

In [92]:
person.popitem()

('isStudent', True)

In [93]:
person

{'name': 'siri', 'gender': 'female'}

### update(dict)

In [94]:
change= {'name':'sai','Grade':'A'}
person.update(change)

In [95]:
person

{'name': 'sai', 'gender': 'female', 'Grade': 'A'}

### values()

In [ ]:
data='sairam123'

In [97]:
data='sairam123'
result={}
for character in data:
    if character.isalpha():
        result['alpha']=result.get('alpha',0)+1
    if character.isdigit():
        result['digits']=result.get('digits',0)+1
print(result)

{'alpha': 6, 'digits': 3}

### find frequency of characters:

In [109]:
name='python program'
frequency={}
for i in name:
    if i in frequency:
        
        frequency[i]+=1
    else:
        frequency[i]=1
    
print(frequency) 1

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 1, ' ': 1, 'r': 2, 'g': 1, 'a': 1, 'm': 1}

### find the frequency of urls:

In [111]:
urls=['www.google.com','www.gmail.com','www.yahoo.com','www.google.com']
frequency={}
for i in urls:
    if i in frequency:
        
        frequency[i]+=1
    else:
        frequency[i]=1
    
print(frequency)

{'www.google.com': 2, 'www.gmail.com': 1, 'www.yahoo.com': 1}